#product-overview {
  background: linear-gradient(to top, rgb(76 76 73 / 60%) 10%, transparent),
    url(images/internet.jpg) center / cover no-repeat border-box, #2e2e2e;
  width: 100%;
  height: 100vh;
  position: relative;
}

#product-overview h1 {
  color: #ffffff6b;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #333333;
  text-align: center;
}

#plans {
  height: 45rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4rem;
}

.plan {
  background: #d3eef5;
  text-align: center;
  padding: 2rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #02323e;
  color: white;
}

.plan__annotation {
  background: white;
  color: #333333;
  padding: 0.5rem;
  box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #383c3f;
}

.plan__price {
  color: #585858;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #fff;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
  }

  .plan--highlighted {
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.5);
    height: 33rem;
    z-index: 50;
  }
}

#key-features {
  background: #02171d;
  margin-top: 5rem;
  padding: 1rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #f9feff;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

.modal {
  position: fixed;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #383c3f;
  background: #383c3f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
