@font-face {
    font-family: "AnonymousPro";
    src: url("anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AnonymousPro";
    src: url("anonymousPro-Bold.ttf");
    font-weight: 700;
}

main {
    padding-top: 2rem;
}

.package {
    width: 80%;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #eff4f8 0%, #eff4f8 100%);
}

.package:hover,
.package:active {
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.5);
    border: 2px solid #074859;
    animation: push-up 1s ease-out forwards;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 0.8rem;
    color: white;
    background: #074859;
    padding: 0.5rem;
    transform: rotate(45deg) translate(3.5rem, -1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    padding: 1rem;
    border: 1px solid #383c3f;
    color: #383c3f;
    background: white;
    font-size: 1.2rem;
}

.clearfix {
    clear: both;
}

#free {
    float: right;
    text-align: right;
}

#premium {
    background: linear-gradient(to right, #222d2a 0%, #02323e 100%);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1500px) {
    #free:hover,
    #free:active {
        border-right-color: #074859;
    }
}

@keyframes push-up {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}
